<h1>Admin::Dashboard</h1>

<table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Stats</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
          <tr>
          <th colspan="2">Products</th>
          <td><%= @product_count%></td>
        </tr>
          <th colspan="2">Categories</th>
          <td><%= @category_count%></td>
      </tbody>
    </table>

    <%=link_to 'Link to Admin Products Page', "/admin/products/"%>