<h1>Welcome to the jungle </h1>
<br>
<br>
<br>


<body>
      <img src="https://pickuptheguitar.com/wp-content/uploads/2021/01/which-guitar-does-slash-use.jpg" alt="Slash" width="400"
         height="400">
   </body>
   <br>
   <br>
   <br>
<h3> Jungle is a platform where vendors can come together to sell their products to a curated customer base. </h3>